<ion-pane ng-controller="MainMyJobsController">
    <div class="bar bar-header sidenavstyle">
    <button class="button icon-left ion-chevron-left button-positive" ng-click="goToHome()">
        Back
      </button>
      <h1 class="title">My Jobs</h1>
    </div>

  
    <br>
    <br>
    <br>
    <div class="list card">
      
      <div class="item item-divider">
        Jobs You're In
      </div>
      <a class="item">
        Making surfing boards
      </a>

      <a class="item">
       
        Baking baguettes
      </a>

      <a class="item">
       
        Hacking the world
      </a>

      <a class="item">
        
        How to be awesome
      </a>

    </div>

    <div class="list card">
      
      <div class="item item-divider">
        Awaiting Jobs
      </div>
      <a class="item">
        How to make a Greenhouse
      </a>

      <a href="#" class="item">
        Making a Dyson Vacuum
      </a>

    </div>
</ion-pane>